h1 {
  text-align: center;
  font-size: bolder;
}

h2 {
  color: #211E55;
}

h3 {
  color: #006284;
}

strong {
  color: #D0104C;
}

em {
  color: rgb(135, 18, 189);
  font-weight: bold;
}

aside nav ul li {
  margin: 0.5em 0;
}
