h1 {
  text-align: center;
  font-size: 2.5em;
  // font-family: 'Verdana';
}

h2 {
  color: #211E55;
  font-size: 1.5em;
}

h3 {
  color: #006284;
  font-size: 1.40em;
}

h4 {
  color: turquoise;
  font-size: 1.30em;
}

strong {
  color: #D0104C;
  font-weight: bold;
}

em {
  color: #36563C;
  font-weight: bold;
}

aside nav ul li {
  margin: 0.5em 0;
}

mark, mark:visited {
  background-color: #DB4D6D;
  color: white;
}



// Experimental Stuff Only
